.education .edu_entry{
    // font-weight: bold;
    opacity: 0.9;
    font-size: 1.1em;
    display: inline;
}

.education .edu_year{
    font-weight: normal;
    opacity: 1;
    font-size: 1em;
    display: inline-block;
}

.education .edu_uni{
    font-weight: normal;
    opacity: 1;
    font-size: 1em;
    display: block;
        
}

