---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title_1 }}</h1>
    <h5 class="post-description">{{ page.description_1 }}</h5>
  </header>

  <article class="post-content {{page.title}} clearfix">
    {% if page.education %}
        <div class="education">
            {% for edu in page.education %}
            <div class="edu_entry">
              <p class="fas fa-graduation-cap fa-lg"></p>
              <p class="edu_dept">{{ edu.department }}</p>, <p class="edu_year">{{ edu.year }}</p>
              <p class="edu_uni">{{ edu.university }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
  </article>

  <hr>

  <header class="post-header">
    <h1 class="post-title">{{ page.title_2 }}</h1>
    <h5 class="post-description">{{ page.description_2 }}</h5>
  </header>

  <article class="post-content {{page.title}} clearfix">
    {{ content }}
  </article>

</div>
